<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dan.android.quirogest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >
        <activity
            android:name=".activities.ClienteListActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- //TODO: unificar activity y cambiar sólo los fragments-->
        <activity
            android:name=".activities.MotivosListActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >tent.category.LAUNCHER" />
        </activity>
        <provider
            android:authorities="dan.android.quirogest.provider"
            android:name="dan.android.quirogest.database.QuiroGestProvider"/>

    </application>

</manifest>
